<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="/styles/addinsurancestyle.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            dolorum adipisci recusandae praesentium dicta!
          </p>

          <div class="info">
            <div class="information">
              <img src="/images/location.png" class="icon" alt="" />
              <p>92 Cherry Drive Uniondale, NY 11553</p>
            </div>
            <div class="information">
              <img src="/images/email.png" class="icon" alt="" />
              <p>lorem@ipsum.com</p>
            </div>
            <div class="information">
              <img src="/images/phone.png" class="icon" alt="" />
              <p>123-456-789</p>
            </div>
          </div>

          <div class="social-media">
            <div class="social-icons">
              <a href="#">
                <i class="fas fa-home"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="/addinsurance" autocomplete="off" method="POST">
            <h3 class="title">Add Product Details</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" id="name" value="<%=farmerName%>" readonly/>
              <label for="">Name</label>
              <span>Name</span>
            </div>
            <div class="input-container">
              <input type="text" name="phone" id="phone" class="input" value="<%=farmerPhone%>" readonly/>
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container">
              <input type="text" name="price" id="price" class="input" />
              <label for="">Price</label>
              <span>Price</span>
            </div>
            <div class="input-container textarea">
                <select id="insurances" name="insurances" class="input">
                    <% insList.forEach(ins=>{ %>
                        <option value="<%=ins.name%>"><%=ins.name%></option>
                    <% }) %>
                </select>
              <label for="">Details</label>
              <span>Details</span>
            </div>
            <input type="submit" value="Submit" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script>
    const inputs = document.querySelectorAll(".input");
    function focusFunc() {
        let parent = this.parentNode;
        parent.classList.add("focus");
    }
    function blurFunc() {
        let parent = this.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }
    inputs.forEach((input) => {
        input.addEventListener("focus", focusFunc);
        input.addEventListener("blur", blurFunc);
    });
    </script>
  </body>
</html>