<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>LOGIN</h1>
        <a href="/reg">Register ?</a>
        <form action="/log" method="POST">
            <input type="text" id="name" name="name"></input>
            <label for="name">Name</label><br>
            <input type="password" id="pass" name="pass"></input>
            <label for="pass">Password</label><br>
            <p>Account Type</p>
            <input type="radio" id="user" name="user" value="user"></input>
            <label for="user">Customer</label><br>
            <input type="radio" id="farmer" name="farmer" value="farmer"></input>
            <label for="farmer">Farmer</label><br>
            <input type="radio" id="insurance" name="insurance" value="insurance"></input>
            <label for="insurance">Insurance</label><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>