<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .home-section{
                position: relative;
                background: #E4E9F7;
                min-height: 100vh;
                top: 0;
                left: 78px;
                width: calc(100% - 78px);
                transition: all 0.5s ease;
                z-index: 2;
            }
        </style>
    </head>
    <body>
        <%- include('dashboard',{type:type,user:user}); %>
        <section class="home-section">
            <div id="msg-container" style="height:100vh ; overflow-y: hidden;">
            </div>
        </section>
        <script src="https://localhost:44326/javascript/weavy.jquery.js"></script>
        <script>
            var token = "<%=weavyToken%>";
            console.log(token);
            var weavy = new Weavy({ jwt: token });
            let spacekey = "";
            const type = "<%=type%>";
            if(type === "Customer"){
                spacekey = "customerspace";
            } else {
                spacekey = "insurancespace";
            }
            var space = weavy.space({ key: spacekey});
            var messenger = space.app({ key: "msg_key", type: "messenger", container: "#msg-container", open: true});
        </script>
    </body>
</html>